<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triển khai app</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'index.css')}}">
</head>
<body>
  <h1 class="MoDau">Triển khai ứng dụng trên minikube</h1>
    <h4>Có 2 cách để triển khai ứng dụng trên minikube: sử dụng công cụ dòng lệnh kubectl hoặc trình quản lý gói helm của Kubernetes</h4>
    <div class="chuachuvanut">
        <p><h3>Sử dụng Kubectl</h3></p>
        <form action="/deploy_redis" method="POST">
            <input type="submit" name="submit_button" value="Deploy redis using Helm" class="chu1"></input>
            <input type="submit" name="submit_button" value="Delete redis application using Helm" class="chu2"></input>
        </form>
    </div>

    <div class="chuachuvanut">
        <p><h3>Sử dụng Helm</h3></p>
        <form action="/deploy_spark" method="POST">
            <input type="submit" name="submit_button" value="Deploy spark using Helm" class="chu1"></input>
            <input type="submit" name="submit_button" value="Delete spark application using Helm" class="chu2"></input>
        </form>        
    </div>
</body>
</html>