<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triển khai Nginx</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1 class="MoDau">NGINX DEPLOYMENT</h1>
    <form action="/describe_nginx" method="POST">
        <input type="submit" value="Describe nginx deployment using Kubectl" class="chu1"></input>
    </form>
    <table border="1">
        <tr>
            <th colspan="1">Pod</th>
			<th colspan="1">Status</th>
			<th colspan="1">Age</th>
        </tr>
        <tr>
            <td>{{mydata.pod1}}</td>
            <td>{{mydata.Status1}}</td>
            <td>{{mydata.Age1}}</td>
        </tr>
        <tr>
            <td>{{mydata.pod2}}</td>
            <td>{{mydata.Status2}}</td>
            <td>{{mydata.Age2}}</td>
        </tr>
    </table>
</body>
</html>

